<% provide :title, t("titles.user.edit") %>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1 class="center"><%= t "layouts.user.edit" %></h1>
    <%= form_for @user do |f| %>
      <%= render "shared/error_messages", object: f.object %>
      <div class="field">
        <%= f.label :name %><br>
        <%= f.text_field :name, class: "form-control" %>
      </div>
      <div class="field">
        <%= f.label :password %><br>
        <%= f.password_field :password, class: "form-control" %>
      </div>
      <div class="field">
        <%= f.label :password_confirmation %><br>
        <%= f.password_field :password_confirmation, class: "form-control" %>
      </div>
      <%= f.file_field :avatar, accept: Settings.user.avatar.accepted_format %>
      <br>
      <%= f.submit t("buttons.user.edit_button"), class: "btn btn-primary pull-right" %>
    <% end %>
  </div>
</div>
