<% provide :title, @user.name %>
  <%= render "user_info" %>
<% unless @course.nil? %>
  <h3><%= @course.name %></h3>
  <%= t "layouts.course.info.start" + ": " %>
  <%= @user_course.created_at.strftime(Settings.format_date) %>
  <span class="label label-success"><%= t "status.learning" %></span>
  <div class="row">
    <aside class="col-md-8">
      <% @user_course.user_course_subjects.each do |user_course_subject| %>
        <hr>
        <div id="subject-<%= user_course_subject.id %>">
          <div class="row">
            <aside class="col-md-4 col-md-offset-1">
              <%= link_to user_course_subject.subject.name, course_subject_path(@course, user_course_subject.subject) %>
              <%= t "layouts.subject.info.start" + ": " %>
              <%= user_course_subject.created_at.strftime(Settings.format_date) %>
            </aside>
            <aside class="col-md-3 col-md-offset-2">
              <% if user_course_subject.status == Settings.status.finished %>
                <span class="label label-success">
                  <%= t "status.finished" %>
                </span>
              <% else %>
                <span class="label label-warning">
                  <%= t "status.incomplete" %>
                </span>
              <% end %>
            </aside>
            <aside class="col-md-1">
              <button onclick="hide_subject()"><%= t "buttons.hide" %></button>
            </aside>
            <aside class="col-md-1">
              <button onclick="show_subject()"><%= t "buttons.show" %></button>
            </aside>
          </div>
          <% user_course_subject.user_course_subject_tasks.each do |user_course_subject_task| %>
            <br>
            <div class="row">
              <aside class="col-md-4 col-md-offset-2">
                <%= user_course_subject_task.task.name %>
              </aside>
              <aside class="col-md-4 col-md-offset-1">
                <% if user_course_subject_task.status == Settings.status.finished %>
                  <span class="label label-success">
                    <%= t "status.finished" %>
                  </span>
                <% else %>
                  <span class="label label-warning">
                    <%= t "status.incomplete" %>
                  </span>
                <% end %>
              </aside>
            </div>
          <% end %>
        </div>
      <% end %>
    </aside>
    <aside class="col-md-4">
      <h3 class="center"><%= t "layouts.user.activity" %></h3>
    </aside>
  </div>
<% end %>
